<html xmlns:th="http://www. thymeleaf .org">
<head>
    <title>Send message </title>
</head>
<body>
<h1>Send message:</h1>

    <form method="post" action="send">
        <table border="0" width="80%">
            <tr>
                <td>To:</td>
                <!--/*@thymesVar id="recipient" type="java.lang.String"*/-->
                <td><input type="text" id="recipient" name="recipient" size="65" th:value="${recipient}"/></td>
            </tr>
            <tr>
                <td>Subject:</td>
                 <!--/*@thymesVar id="subject" type="java.lang.String"*/-->
                <td><input type="text" id="subject" name="subject"  size="65" th:value="${subject}" /></td>
            </tr>
            <tr>
                <td>Message:</td>
                 <!--/*@thymesVar id="message" type="java.lang.String"*/-->
                <td><textarea cols="50" rows="10" id="message" name="message" th:value="${message}" ></textarea></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Send E-mail" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>

