<html xmlns:th="http://www. thymeleaf .org">
<head>
    <title>Send message </title>
</head>
<body>
<h1>Send message:</h1>

    <form method="post" action="send">
        <table border="0" width="80%">
            <tr>
                <td>To:</td>
                <!--/*@thymesVar id="recipient" type="java.lang.String"*/-->
                <td><input type="text" id="recipient" name="recipient" size="65" th:value="${recipient}"/></td>
            </tr>
            <tr>
                <td>Subject:</td>
                 <!--/*@thymesVar id="subject" type="java.lang.String"*/-->
                <td><input type="text" id="subject" name="subject"  size="65" th:value="${subject}" /></td>
            </tr>
            <tr>
                <td>Message:</td>
                 <!--/*@thymesVar id="message" type="java.lang.String"*/-->
                <td><textarea cols="50" rows="10" id="message" name="message" th:value="${message}" ></textarea></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Send E-mail" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>

<!--<form action="" method="post" enctype="multipart/form-data">
    &lt;!&ndash;/*@thymesVar id="message" type="java.lang.String"*/&ndash;&gt;

    <p>
        <label for="user">Введите имя:</label>
        &lt;!&ndash;/*@thymesVar id="chunkSize" type="java.lang.Integer"*/&ndash;&gt;
        <input type="text" name="user" id="user" th:value="${user}" required/><br/><br/>
        <label for="city">Введите город:</label>
        <input type="text" name="city" id="city" th:value="${city}" required><br/>
    </p>
    <p>
        <input type="submit" value="Узнать погоду" name="submit">
    </p>
</form>-->
<!--
<form th:action="@{/send}" method="post"   charset="utf-8"  accept-charset="UTF-8">
    <div><label> Введите имя : <input type="text" th:field="*{userName}" />  </label></div>
    <div><label> Введите город:  <input type="text" th:field="*{sity}"/> </label></div>
    <div><input type="submit" value="Узнать погоду"/></div>
-->
<!--
</form>
</body>
</html>
-->

<!--
<h1>Create a Person:</h1>-->

<!--
   In  Thymeleaf  the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->
<!--
<form th:action="@{/addPerson}"
      th:object="${personForm}" method="POST">
    First Name:
    <input type="text" th:field="*{firstName}" />
    <br/>
    Last Name:
    <input type="text" th:field="*{lastName}" />
    <br/>
    <input type="submit" value="Create" />
</form>

<br/>-->

<!-- Check if errorMessage is not null and not empty -->

<!--
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>-->
